DB_USER=FILL_ME_IN
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=thesis_prod
GOOGLE_CLIENT_ID=FILL_ME_IN
GOOGLE_CLIENT_SECRET=FILL_ME_IN
GOOGLE_CALLBACKURL=http://FILL_ME_IN/auth/google/callback
FACEBOOK_CLIENT_ID=FILL_ME_IN
FACEBOOK_CLIENT_SECRET=FILL_ME_IN
FACEBOOK_CALLBACKURL=http://FILL_ME_IN/auth/facebook/callback
TWITTER_CONSUMER_KEY=FILL_ME_IN
TWITTER_CONSUMER_SECRET=FILL_ME_IN
TWITTER_CALLBACKURL=http://FILL_ME_IN/auth/twitter/callback