<% include head.ejs%>

    <div class="page-header text-center">
        <h1 style="margin-bottom:15px"> My Profile </h1>
        <a href="/dashboard" class="btn btn-secondary btn-sm">Return to PepClock</a>
        <a href="/logout" class="btn btn-secondary btn-sm">Logout</a>
        
        <hr />
        
        <p><strong>display name</strong>: <%= user.display %><br></p>
        <p><strong>email</strong>: <%= user.email %></p>
        
        <hr />

        <a href="yesTwoFA" class="btn btn-outline-info">Enable Two-Factor Authentication</a>
        <a href="/noTwoFA" class="btn btn-outline-info">Disable Two-Factor Authentication</a>
    </div>

<% include foot.ejs%>
