<% include head.ejs%>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">

                <h1 style="margin-bottom:15px"> My Profile </h1>
                <a href="/dashboard" class="btn btn-secondary btn-sm">Return to PepClock</a>
                <a href="/logout" class="btn btn-secondary btn-sm">Logout</a>

                <hr />

                <p><strong>display name</strong>: <%= user.display || user.first %><br></p>
                <p><strong>email</strong>: <%= user.email %></p>

                <hr />

                <a href="TwoFA?twoFA=true" class="btn btn-outline-info">Enable Two-Factor Authentication</a>
                <a href="/TwoFA?twoFA=false" class="btn btn-outline-info">Disable Two-Factor Authentication</a>
            </div>
        </div>
    </div>

<% include foot.ejs%>
