<% include head.ejs%>

    <div class="page-header text-center">
        <h1><span class="fa"></span> My Profile </h1>
        <a href="/" class="btn btn-default btn-sm">Return to PepClock</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        
        <hr />
        
        <p>
            <strong>display name</strong>: <%= user.display %><br>
            <strong>email</strong>: <%= user.email %>
        </p>
        
        <a href="yesTwoFA" class="btn btn-default btn-sm">Enable Two-Factor Authentication</a>
        <a href="/noTwoFA" class="btn btn-default btn-sm">Disable Two-Factor Authentication</a>
    </div>

<% include foot.ejs%>
