<% include head.ejs%>

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span>Two-Factor Authentication Input</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3">

        <!-- INPUT FORM -->
        <form action="/totp-input" method="post">
            <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" name="G2FA-code">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Continue</button>
        </form>

<% include foot.ejs%>
