<% include head.ejs%>

  <div class="page-header text-center">
    <h1 style="margin-bottom:25px">Would you like to Enable Two-Factor Authentication?</h1>
    <a style="margin-left:2px; margin-right:2px" href="/TwoFA?twoFA=true" class="btn btn-outline-info btn-lg">Yes</a>
    <a style="margin-left:2px; margin-right:2px" href="/TwoFA?twoFA=false" class="btn btn-outline-info btn-lg">No</a>
  </div>

<% include foot.ejs%>
